<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pendaftaran Pasien</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PendaftaranPasien.styles.css" asp-append-version="true" />
    <style>
        body {
            background-image: url('/img/background.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

</head>
<body>
    <aside class="sidebar">
        <div class="sidebar-header">
            <a class="sidebar-brand" href="#">
                <img src="/img/KasihGroup.png" width="90" height="30" />
            </a>
            <button class="sidebar-toggler" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="sidebar-body">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Add", "Pasiens")">Isi Data Pasien</a>
                </li>
            </ul>
        </div>
    </aside>
    <main class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    @RenderBody()
                </div>
            </div>
        </div>
    </main>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
